nav{
    height: 100%;
    background-color: rgb(33, 33, 33);
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
h1{
    cursor: pointer; 
}

.side-nav-button:hover{
    background-color: rgb(80, 82, 82);
    border-radius: 30%;
}

