<div
  class="bg-image"
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5">
        <h1 class=""><u>Welcome to Student Project</u></h1>
        <h2 class="fst-italic text-muted">
          You can Create, Read, Update and Delete student details.
        </h2>
        <img
          src="../../assets/images/grad-students-throwing-hats-in-the-air.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</div>
